{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <form action="" method="POST" > -->
    
    <form action="" method="POST" class="mt-5" >
        {% csrf_token %}
        <div class="container my-2 bg-danger col-md-3 text-light p-1 pb-0.2 "  >
            <div class="col-md-12  p-2 mb-2 text-light bg-dark text-white">
            <header class="text-center ">
                <h1 class="display-6  bg-warning p-2">Account Update Form</h1>
            </header>
            <div class="col-md-8 offset-md-2">
        <!-- <div class="col-md-4 offset-md-4 border border-primary p-2 mt-5 ">  -->
               
            
    {{au.client_name|as_crispy_field}}
    {{au.account_status|as_crispy_field}}
    {{au.industry|as_crispy_field}}
    {{au.account_owner|as_crispy_field}}
        <input type="submit"class="btn btn-secondary" value="Update">
        <a href="{% url 'list' %}" class="btn btn-info ">Show data</a>
        <!-- <a href="{% url 'list' %}" class="btn btn-dark "> data</a> -->
    
    </div>
    </div>
    </div>
    
    </form>
    

<!-- </form> -->

{% endblock content %}

{% block navbar %}
{% endblock navbar %}